# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# Logs
*.log

# Environment variables
.env
*.env

# MacOS metadata
.DS_Store

# Gradio cache
gradio_cached_examples/

# Docker files
*.pid
*.pid.lock
